<% include ../partials/boilerplate %>

<form method='POST' action='/quotes/<%= data.id %>?_method=PUT'>
  <!-- passing id as a part of the body, but the input field is set to hidden, so not to render on the page -->
  <input name="id" type="hidden" value="<%= data.id %>">
  <input name='content' type='text' value='<%= data.content %>' />
  <input name='author' type='text' value='<%= data.author %>' />
  <input name='genre_type' type='text' value='<%= data.genre_type %>' />
  <!-- <label for='genre_type'> Genre
        <select name='genre_type' type='text'>
          <option value='motivational'>motivational</option>
          <option value='comedy'>comedy</option>
          <option value='3'>philosophical</option>
          <option value='4'>education</option>
          <option value='5'>design</option>
          <option value='6'>literary</option>
          <option value='7'>poetry</option>
          <option value="8">gonzo</option>
          <option value="9">misc</option>
        </select>
      </label></br> -->
  <input type='submit' value='Edit it!' />
</form>

<% include ../partials/footer %>
